@using AbbiePortfolio.Components.ComponentLibrary
@using AbbiePortfolio.Components.Pages
<MudAppBar Elevation="1" Fixed="true">
    <div class="name">
        <MudText Typo="Typo.h4" Color="Color.Primary" Style="font-weight:bold;">Abbie Hooper</MudText>
    </div>

    <div class="nav-links">
        <NavigateToSectionLink SectionId="projects" Title="Projects" HoverColour="@Colors.Pink.Lighten4" />
        <NavigateToSectionLink SectionId="blog" Title="Blog" HoverColour="@Colors.Blue.Lighten4" />
        <NavigateToSectionLink SectionId="contact" Title="Contact" HoverColour="@Colors.Green.Lighten4" />
    </div>

    <div class="theme">
        <MudIconButton Icon="@(IsDarkMode? Icons.Material.Outlined.LightMode : Icons.Material.Outlined.DarkMode)"
                       Style="@($"color: #000; background:{Colors.DeepOrange.Lighten4};")"
                       OnClick="@DarkModeToggle" />
    </div>
</MudAppBar>

@code {
    [Parameter]
    public bool IsDarkMode { get; set; } = false;

    [Parameter]
    public EventCallback<bool> IsDarkModeChanged { get; set; }

    private void DarkModeToggle()
    {
        IsDarkMode = !IsDarkMode;
        IsDarkModeChanged.InvokeAsync(IsDarkMode);
    }
}