<MudItem xs="12" sm="6" md="6">
    <MudCard Elevation="1" Style="height: 100%;">
        <MudCardMedia Image="@BlogPost.ImageUrl" Height="200" />
        <div class="category" style="background-color: @CategoryColor;">
            @BlogPost.Category
        </div>
        <MudCardContent>
            <MudText Typo="Typo.h5" Class="mb-2" Style="font-weight: 600;">@BlogPost.Title</MudText>
            <MudText Typo="Typo.body2" Class="mb-1">@BlogPost.Description</MudText>
        </MudCardContent>
        <UnderlineButton Href="@BlogPost.PostUrl" ContainerClass="d-flex justify-end mx-4 my-4" Text="Read Post →" />
    </MudCard>
</MudItem>

@code {

    [Parameter]
    public required BlogPost BlogPost { get; set; }

    [Parameter]
    public string? CategoryColor { get; set; }

}
