<MudItem xs="12" sm="6" md="6">
    <MudCard Elevation="2" Style="height: 100%;">
        <MudCardMedia Image="@ImageUrl" Height="200" />
        <MudCardContent>
            <div class="links-container">
                @if (!string.IsNullOrWhiteSpace(PreviewUrl))
                {
                    <MudIconButton Icon="@Icons.Material.Filled.OpenInNew" Color="Color.Primary" aria-label="open in new window" Target="_blank" Href="@PreviewUrl" />
                }
                <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Primary" aria-label="github" Target="_blank" Href="@GithubUrl" />
            </div>
            <MudText Typo="Typo.h5" Class="mb-2" Style="font-weight: 600;">@Title</MudText>
            <MudText Typo="Typo.body2" Class="mb-1">@Description</MudText>
        </MudCardContent>
    </MudCard>
</MudItem>